[submodule "nvim/.local/share/nvim/site/pack/plugins/start/csvview.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/csvview.nvim
	url = https://github.com/hat0uma/csvview.nvim
[submodule "nvim/.config/nvim/pack/plugins/start/toggleterm.nvim"]
	path = nvim/.config/nvim/pack/plugins/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
[submodule "toggle-overlength"]
	path = nvim/.config/nvim/pack/plugins/start/toggle-overlength.nvim
	url = https://github.com/fouladi/toggle-overlength.nvim
[submodule "lualine.nvim"]
	path = nvim/.config/nvim/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "claudecode"]
	path = nvim/.config/nvim/pack/plugins/start/claudecode.nvim
	url = https://github.com/coder/claudecode.nvim
